[submodule "hw/common"]
	path = hw/common
	url = https://github.com/carlzhang4/common.git
[submodule "hw/core"]
	path = hw/core
	url = https://github.com/HobbitQia/core/
[submodule "hw/network"]
	path = hw/network
	url = https://github.com/qqwert0/network
[submodule "hw/qdma"]
	path = hw/qdma
	url = git@github.com:RC4ML/qdma.git
[submodule "hw/hbm"]
	path = hw/hbm
	url = git@github.com:RC4ML/chisel_hbm.git
[submodule "hw/cmac"]
	path = hw/cmac
	url = git@github.com:carlzhang4/cmac.git
[submodule "hw/ddr"]
	path = hw/ddr
	url = git@github.com:rc4ml/ddr.git
[submodule "sw/libr/HdrHistogram"]
	path = sw/libr/HdrHistogram
	url = https://github.com/HdrHistogram/HdrHistogram_c.git
